<h1>Login Form</h1>

<% if flash[:notice] %>
  <h3>Notice</h3>
  <ul>
      <li><%= flash[:notice] %></li>
  </ul>
<% end %>


<%= form_tag login_path do %>
  <%= label_tag :username %><br>
  <%= text_field_tag :username %><br><br>
  <%= label_tag :password %><br>
  <%= password_field_tag :password %><br><br>
  <%= submit_tag "Log In" %>
<% end %>
