<div class="ui middle aligned centered grid" style="height: 100%;">
  <div class="column" style="max-width: 450px;">
    <div class="ui centered header">
      <div id="logo">🐾 &nbsp;Dogumentation</div>
    </div>
    <%= form_tag login_path, { class: "ui large form" } do %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= text_field_tag :username, nil, placeholder: "Username" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= password_field_tag :password, nil, placeholder: "Password" %>
          </div>
        </div>
        <%= submit_tag "Log In", { class: "ui fluid large blue submit button" } %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="ui error message">
        <ul class="list">
            <li><%= flash[:notice] %></li>
        </ul>
      </div>
    <% end %>
    <div class="ui message">
      New to us? <%= link_to "Register", new_user_path %>
    </div>
  </div>
</div>