<%= form_for @dog, html: { class: "ui form"} do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Snoopy" %>
  </div>
  <div class="field">
    <%= f.label :breed %>
    <%= f.text_field :breed, placeholder: "Beagle" %>
  </div>
  <div class="field">
    <%= f.label :birthday %>
    <%= f.date_field :birthday %>
  </div>
  <div class="two fields">
    <div class="field">
      <%= f.label :size %>
      <%= f.select :size, [["Small", "small"], ["Medium", "medium"], ["Large", "large"]], size: "10" %>
    </div>
    <div class="field">
      <%= f.label :profile_picture, "Profile picture" %>
      <%= f.file_field :profile_picture %>
    </div>
  </div>
  <div class="field">
    <%= f.label :username, "Username (30 characters max)" %>
    <%= f.text_field :username %>
  </div>
  <div class="ui hidden divider"></div>
  <%= f.submit class: "ui fluid large blue submit button" %>
<% end %>
<% if flash[:errors] %>
  <div class="ui error message">
    <ul class="list">
      <% flash[:errors].each do |error| %>
        <li<%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
