<h1>New Dog</h1>
<%= form_for @dog do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <%= f.label :breed %><br>
  <%= f.text_field :breed %><br><br>
  <%= f.label :birthday %><br>
  <%= f.date_field :birthday %><br><br>
  <%= f.label :size %><br>
  <%= f.select :size, [["Small", "small"], ["Medium", "medium"], ["Large", "large"]] %><br><br>
  <%= f.label :img_url %><br>
  <%= f.text_field :img_url %><br><br>
  <%= f.submit %>
<% end %>
