<%= render "/layouts/loggedin_nav" %>

<div class="ui two column aligned centered grid">
  <div class="column bottom aligned content">
    <h1 class="ui dividing header" style="padding-bottom: 10px;"><%= @dog.name %></h1> 
  </div>
  <div class="four column centered row">
    <div class="column">
      <%= image_tag url_for(@dog.profile_picture) %>
    </div>
    <div class="column">
      <h2 class="ui header dividing">Details</h2>
      <p><span style="font-weight: bold;">Breed</span> — <%= @dog.breed %></p>
      <p><span style="font-weight: bold;">Size</span> — <%= @dog.size.capitalize %></p>
      <p><span style="font-weight: bold;">Birthday</span> — <%= @dog.birthday %></p>
      <p><span style="font-weight: bold;">Owner</span> — <%= link_to @owner.to_s, user_path(@owner) %></p>
      <p><span style="font-weight: bold;">Owner Phone Number</span> — <%= @owner.phone_num %></p>
      <div class="care">
        <h2 class="ui header dividing" style="margin-top: 2em;">Care Instructions</h2>
        <% @instructions.each do |instruction| %>
          <h3><%= instruction.header %></h3>
          <p><%= instruction.content %></p>
        <% end %>
        <% if @editing_privileges %>
          <%= link_to "Add Instruction", new_instruction_path %>
        <% end %>

        <h2 class="ui header dividing" style="margin-top: 2em;">In Case of Emergency</h2>
        <% if @vets %>
          <% @vets.each do |vet| %>
            <h3><%= vet.to_s %></h3>
                Office Address: <%= vet.address %><br>
                Phone Number: <%= vet.phone_num %><br>
                Email: <%= vet.email %>
          <% end %>
        <% end %>

        <% if @editing_privileges %>
          <p></p>
          <p><%= link_to "Add Vet", "/dogs/#{@dog.username}/addvet" %></p>
        <% end %>
      </div>
    </div> 
  </div>
</div>


