<% if flash[:errors] %>
  <div class="ui error message">
    <ul class="list">
      <% flash[:errors].each do |error| %>
        <li style="color: red"><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @instruction, html: { class: "ui form"} do |f| %>
  <div class="field">
    <%= f.label :header %>
    <%= f.text_field :header %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <div>
    <%= f.label :dog %>
    <%= f.collection_select :dog_id, @dogs, :id, :name %>
  </div>
  <div class="ui hidden divider">
    <%= f.submit class: "ui fluid large blue submit button" %>
  </div>
<% end %>
