<% if flash[:errors] %>
<div class="ui error message">
  <ul class="list">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= form_for @vet, html: { class: "ui form"} do |f| %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone_num, "Phone number" %>
    <%= f.text_field :phone_num, placeholder: "123-444-5678" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "dr_rover@gmail.com" %>
  </div>
  <div class="ui hidden divider">
      <%= f.submit class: "ui fluid large blue submit button" %>
  </div>
<% end %>
