<% if flash[:errors] %>
  <div class="ui error message">
    <ul class="list">
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @user, html: { class: "ui form" } do |f| %>
  <div class="field">
    <%= f.label :username, "Username (30 characters max)" %>
    <%= f.text_field :username %>
  </div>
  <div class="two fields">
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :reenter_password, "Re-enter password" %>
      <%= f.password_field :reenter_password %>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <%= f.label :phone_num, "Phone number" %>
      <%= f.text_field :phone_num, placeholder: "123-444-5678" %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "rover@gmail.com" %>
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <%= f.submit class: "ui fluid large blue submit button" %>
<% end %>
