<% if flash[:errors] %>
  <h3 style="color: red">Errors!</h3>
  <ul>
    <% flash[:errors].each do |error| %>
      <li style="color: red"><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @user do |f| %>
  <%= f.label :username, "Username (30 characters max)" %><br>
  <%= f.text_field :username %><br><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br><br>
  <%= f.label :reenter_password, "Re-enter password" %><br>
  <%= f.password_field :reenter_password %><br><br>
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %><br><br>
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %><br><br>
  <%= f.label :phone_num, "Phone number" %><br>
  <%= f.text_field :phone_num, placeholder: "123-444-5678" %><br><br>
  <%= f.label :email %><br>
  <%= f.text_field :email, placeholder: "rover@gmail.com" %><br><br>
  <%= f.submit %>
<% end %>