<h1><%= @user.to_s %></h1>
<p>Phone number: <%= @user.phone_num %></p>
<p>Email: <%= @user.email %></p>

<h2>Your Dogs</h2>
<ul>
  <% @dogs.each do |dog| %>
    <li><%= link_to dog.name, dog_path(dog.username) %></li>
  <% end %>
</ul>

<%= button_to "Log Out", logout_path, method: :delete %>
