<%= render "/layouts/loggedin_nav" %>

<div class="ui vertical stripe">
  <div class="ui middle aligned stackable grid container" style="margin-top: 1em;">
    <div class="column">
      <h2 class="ui header">Your Dogs</h2>
    </div>
  </div>
  <div class="ui middle aligned stackable grid container four column">
    <div class="row">
      <div class="ui cards" style="margin-left: 0.5em; margin-right: 0.5em;">
        <% @dogs.each do |dog| %>
          <div class="column card">
            <div class="image">
              <%= image_tag url_for(dog.profile_picture) %>
            </div>
            <div class="content">
              <%= link_to dog.name, dog_path(dog.username), class: "header" %>
              <div class="meta">
                <span class="date"><%= dog.breed %></span>
              </div>
            </div>
            <div class="extra content">
              <div class="two ui buttons">
                <%= link_to "Edit", edit_dog_path(dog.username), class: "button ui" %>
                <%= form_tag dog_path(dog.username), method: :delete, id: "form_#{dog.id}" do %>
                <% end %>
                <button type="submit" form="form_<%= dog.id %>", value="Submit" class="button ui yellow">Delete</button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>